@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

#root{
    width:100%;
}

.cbCont{
    width:100%;
    margin:0;
    padding:0;
    display:flex;
}

.containerA{
    background-color:#252525;
    width:18%;
    color:white;
    font-family:Montserrat;
    height:100vh;   
    margin-left:-0.25%;
}

.upperCont{
    text-align: center;
    padding-top:45%;
    
}

.lowerCont{
    width:100%;
}

.listCB{
    margin-left:10%;
    margin-top:10%;
    font-size:1.2em;
}

.containerB{
    width:82.9%;
}

.upperContB{
    height:90vh;
    width:100%;
    position: relative;
}

.contentB{
    /* width:211.3%; */
    height:100vh;
}

.lowerContB{
    display:flex;
    width:70%;
    justify-content: center;
    position:absolute;
    margin-left: 1.6%;
}

.formCont{
    width:100%;
    margin-right:1.5em;
}

.textForm {
    width:100%;
    margin-top: 0.1%;
}
  
.textForm input[type="text"] {
    width: 100%;
    height: 4vh;
    font-size: 1em;
    border-radius: 20px;
    border: 1px solid #4da6ff;
    padding-left: 1.2%;
    transition: 0.5;
}

.submitBtn button {
    border-radius: 50%;
    width:3.2em;
    height:2.8em;
    color: #ffffff;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
    padding:0;
}

.slogan{
    font-size:1.8em;
    color: white;
    font-weight: 900;
    margin: 0;
}

.para{
    color: White;
    margin: 0;
    font-size:1em;
    font-family: Montserrat;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;    
}

.linkStl{
    text-decoration: none;
    color:white;
    cursor:pointer;
}

.linkStl:hover{
    color:rgb(165, 165, 165);
}


/*Modal*/
.modalContAbout,.modalContUpd,.modalContCust{
    transform:(translate(-50%,-50%));
    position:fixed;
    width:50%;
    top:13%;
    left:35%;
    background-color:white;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    height:72vh;
}

.closeBtn{
    text-align: right;
    margin-right:1.9%;
    margin-top:1.5%;
    font-family: Montserrat;
    color:white;
    font-size:1.2em;
    width: 2%;
    cursor:pointer;
 }

.topTitle{
    display:flex;
    width:100%;
    background-color: #001B4E;
}

.sectionTitle{
    width:98%;
    text-align: center;
    font-size:1.5em;
    color: white;
    margin-left:2%;
}

#lineCB{
    margin-top:40%;
}

/*About Modal*/
.modalContAbout{
    background-image: url("../../assets/sides.png");
}

.modalAboutLow{
    text-align: center;
}

.botlogo{
    width: 30%;
    margin-top:3%;
    margin-bottom: 2%;
}

.difflogo{
    width:25%;
    margin-left:10%;
    margin-top:4%;
    margin-right:2%;
}

.aboutPara{
    margin: 2% 10%;
    text-align: justify;
    text-justify: inter-word;
    font-size:1.1em;
    text-indent:4%;

}

.contTitle{
    float:left;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 0.8%;
}

.number{
    width:35%;
    display:flex;
}

.email{
    width:55%;
    display:flex;
}

@media (min-width:800px) and (max-width: 1600px) {
    .slogan{
        font-size:1.5em;
        color: White;
        font-weight: 900;
        margin: 0;
      }

    .para{
       color: White;
       margin: 0;
       font-size:0.86em;
       font-family: Montserrat;
       padding-left: 10%;
       padding-right: 10%;
       padding-top: 3%;
    }

    #lineCB{
        margin-top: 30%;
    }

    .upperCont{
        padding-top: 30%;
    }

    .linkStl{
        font-size: 0.89em;
    }

    .submitBtn button{
        font-size: 90%;
        height: 2.5em;
        width: 3em;
    }
}
}